/* Algemene opmaak */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFCC;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: url('afbeelding/Maarssen_Banner.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1, h2 {
    font-family: 'Indie Flower', cursive;
    color: #000;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

footer {
    background-color: #3366FF;
    color: PaleGoldenrod;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive layout */
@media (min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section {
        flex: 1 1 calc(50% - 40px);
        margin: 10px;
    }
}

@media (min-width: 992px) {
    section {
        flex: 1 1 calc(33.33% - 40px);
    }
}
